/****** MOBIL START ******/
/******* GENERALT START *****/
img {
    width: 100%;

}



body {
    margin: 0;
    /*        background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);*/
    /*    background-color: white;*/
}


p,
img {
    max-width: 1000px;
    display: block;
    margin: 0 auto;
}


.col_news,
.col_kontakt,
.col_faq {
    cursor: pointer;
}

/**** LINKS STYLING START *****/
.tilbagetekst,
#kontakt_sections a,
#boliger_sections a,
.stiftede_foreninger_sections a,
#foreninger_sections a,
.koncept_sections a {
    color: #C95D43;
    text-decoration: none;
    font-weight: 500;
    font-size: .9rem;

}

.tilbagetekst {
    font-family: freight-neo-pro, sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: underline;
}

#kontakt_sections a:hover,
#boliger_sections a:hover,
.stiftede_foreninger_sections a:hover,
#foreninger_sections a:hover,
.koncept_sections a:hover {
    color: #ed795d;
    text-decoration: underline;
}





/**** LINKS STYLING SLUT ****/





p {
    font-family: neue-haas-grotesk-text, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: .8rem;
    letter-spacing: 0.5px;
    color: #2a2a2a;
    line-height: 1.8;

}

h1 {
    color: #2a2a2a;
    font-size: 2rem;
    font-family: freight-neo-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin: 0;
}

h2 {
    color: #2a2a2a;
    font-size: 1.8rem;
    font-family: freight-neo-pro, sans-serif;
    font-weight: 500;
    transition: all 0.3s;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
    font-style: normal;
}





.velkommen {
    padding-top: 20vw;
    text-align: center;
    font-size: 3rem;

}

#destination .overskrift1 {
    text-align: center;
    font-size: 3rem;
}


footer .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #C95D43;
    width: 100%;
}




.footer_section h2:hover {

    letter-spacing: 0.2rem;

}

footer .col_1 {
    display: flex;
    flex-wrap: wrap;
    padding-left: 1vw;
    padding-right: 1vw;
}

footer .col {
    margin: .5vw;
}



footer p {
    font-family: freight-neo-pro, sans-serif;
    color: white;
    font-size: 1rem;
    padding-left: 2vw;
    padding-right: 2vw;


}




/***** FOOTER SLUT ****/

#boliger_article,
#forside_article,
#foreninger_article,
#boliger_footer,
#bolig_carousel,
#koncept_article {
    transition: 1s;
}

.white {
    background-color: white !important;
}


/******* GENERALT SLUT *****/



/******* MOBIL FORSIDE START ******/



.forside_sections article:nth-child(3) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;


}






.destinationer_sections article:nth-child(1) h2 {
    margin-bottom: 3vw;
}



.forside_sections p,
.forside_sections img,
.koncept_sections p,
.koncept_sections img,
.destinationer_sections p,
#destinationer_detaljeview p,
#destinationer_detaljeview img,
#boliger_sections p,
#boliger_sections img,
#foreninger_sections p,
#foreninger_sections img {
    padding-top: 5vw;

}

#foreninger_sections article:nth-child(1) p,
.koncept_sections article:nth-child(1) p,
#boliger_sections article:nth-child(1) p,
.destinationer_sections article:nth-child(1) p {
    margin-top: 0;
}


.destinationer_sections img {
    margin-top: .5vw;
}

.destinationer_sections h2 {
    margin-top: 5vw;
    margin-bottom: 1vw;
}



.forside_sections article:nth-child(1) .col:nth-child(2) h2,
.forside_sections article:nth-child(2) .col:nth-child(2) h2,
.forside_sections article:nth-child(4) .text1,
.forside_sections article:nth-child(4) .overskrift2,
.forside_sections article:nth-child(4) .text2,
.forside_sections article:nth-child(3) img {
    display: none;
}

.splash_forside {
    background-size: cover;
    background-image: url(img/splash_test_4.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;

}


.velkommen span {
    /*    background-color: #C95D43;*/
    color: #fff;
    display: inline-block;
    padding: 1rem;
    border-radius: 15px;
    opacity: .9;
}

.splash_forside h1 {
    padding-top: 15vw;
    color: white;

}

#splash_wrapper {
    flex-basis: 250px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    padding-top: 4vw;
    position: relative;
}

#splash_wrapper img {

    width: 12%;
    padding: 10px;

}

#splash .scroll_icon {
    width: 2%;
    padding-top: 20vw;
    position: relative;
    left: 49vw;
}

.bounce {
    animation-name: bounce;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


@keyframes bounce {

    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(5px);
    }
}

.grafik_billeder {
    display: flex;
    padding: 10vw 10vw 10vw 10vw;
    justify-content: center;

}

.grafik_billeder img {
    width: 90%;

    cursor: pointer;
}

.forside_sections article:nth-child(1) h2 {
    display: none;
}


/******* MOBIL FORSIDE SLUT *****/
/****** MOBIL KONCEPT START *****/

.splash_koncept {
    background-size: cover;
    background-image: url(img/splash_koncept%20copy.jpg);
    object-fit: fill;
    background-repeat: no-repeat;
    z-index: 2;
    background-position: 0% 100%;
    height: 50vh;
    background-attachment: scroll;
    overflow: hidden;

}

.koncept_sections article:nth-child(1) .overskrift2,
.koncept_sections article:nth-child(1) .text2 {
    display: none;
}

.koncept_sections article:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;


}

.koncept_sections article:nth-child(2) img {
    grid-column: 1 / -1;
}



/****** MOBIL KONCEPT SLUT ******/

/***** MOBIL BOLIGER START ****/
.splash_boliger {
    background-size: cover;
    background-image: url(img/splash_boliger.jpg);
    object-fit: fill;
    background-repeat: no-repeat;
    z-index: 2;
    background-position: 0% 80%;
    height: 50vh;
}

#boliger_sections article:nth-child(2) .image1 {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}



#boliger_sections article:nth-child(1),
#foreninger_sections article:nth-child(1),
.forside_sections article:nth-child(1) {
    /*    background-color: white;*/
}


/***** MOBIL BOLIGER SLUT ****/

/***** MOBIL DESTINATIONER START ****/
.splash_destinationer {
    background-size: cover;
    background-image: url(img/splash_destinationer.jpg);
    object-fit: fill;
    background-repeat: no-repeat;
    z-index: 2;
    background-position: 0% 95%;
    height: 50vh;

}

.destinationer_sections article:nth-child(2) .tekst1,
.destinationer_sections article:nth-child(3) .tekst1,
.destinationer_sections article:nth-child(4) .tekst1,
.destinationer_sections article:nth-child(5) .tekst1,
.destinationer_sections article:nth-child(6) .tekst1,
.destinationer_sections article:nth-child(7) .tekst1,
.destinationer_sections article:nth-child(8) .tekst1,
.destinationer_sections article:nth-child(9) .tekst1,
.destinationer_sections article:nth-child(10) .tekst1 {
    display: none;
}


.destinationer_sections {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

/*
.destinationer_sections p:nth-child(2) {
    color: white;
}
*/

.destinationer_sections img {
    transition: all 0.2s;
    /*    box-shadow: 3px 3px 5px black;*/
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .6);
    transform: scale(1);
}

.destinationer_sections img:hover {

    transform: scale(0.95);
}

.destinationer_sections article:nth-child(1) {
    grid-column: 1 / -1;
}

/***** MOBIL DESTINATIONER SLUT *****/


/***** MOBIL DESTINATIONER DETALJEVIEW START ****/



#destinationer_detaljeview .container {
    margin-top: 2vw;
}


.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 2vw;
}


#destinationer_detaljeview .tilbagepil {
    position: absolute;
    top: 20vw;
    left: 2vw;
    width: 1.5%;
    cursor: pointer;
    margin-top: 0;
}




#destinationer_detaljeview .tilbagetekst {
    position: absolute;
    top: 20.7vw;
    left: 41.7vw;
    font-size: 1.2rem;

}

#destinationer_detaljeview .overskrift2,
#destinationer_detaljeview .overskrift3 {
    margin-top: 10vw;
}

#destinationer_detaljeview .tilbagepil:hover {
    transform: scale(1.1);
    transition: .2s;
}






/***** MOBIL DESTINATIONER DETALJEVIEW SLUT *****/

/***** MOBIL FORENINGER START *****/
.splash_foreninger {
    background-size: cover;
    background-image: url(img/splash_foreninger.jpg);
    object-fit: fill;
    background-repeat: no-repeat;
    z-index: 2;
    background-position: 0% 52%;
    height: 50vh;
}

/*
.foreninger_sections article:nth-child(1) img {
    display: none;
}
*/

#foreninger_sections .grafik {
    display: block;
    margin: auto;
    width: 80%;
}






/***** MOBIL FORENINGER SLUT *****/

/***** MOBIL STIFTEDE FORENINGER START ****/
.splash_stiftedeforeninger {

    background-size: cover;
    background-image: url(img/splash_stiftede_foreninger.jpg);
    object-fit: fill;
    background-repeat: no-repeat;
    z-index: 2;
    background-position: 10% 75%;
    height: 50vh;

}


.stiftede_foreninger_sections {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 2vw;
}

.stiftede_foreninger_sections article:nth-of-type(n+2) p {
    /*    color: white;*/
    line-height: 1.5;
}

.stiftede_foreninger_sections article:nth-of-type(n+2) h2 {
    /*    color: white;*/
    padding-bottom: 10px;

}

.stiftede_foreninger_sections article:nth-of-type(n+2) {
    /*    box-shadow: 0px 0px 5px rgba(0, 0, 0, .8);*/
    border-radius: 10px;
    /*    background-color: #C95D43;*/
    background-color: #efefef;
    padding: 15px;
}



.stiftede_foreninger_sections article:nth-child(1) {
    grid-column: 1 / -1;
}



/***** MOBIL STIFTEDE FORENINGER SLUT ****/


/**** MOBIL NEWS/KONTAKT/FAQ SEKTION START ****/


.footer_section .sectionwrapper {
    display: flex;
    flex-wrap: wrap;

}

.footer_section .col_news,
.footer_section .col_kontakt,
.footer_section .col_faq {
    flex-basis: 250px;
    flex-grow: 1;
    margin-top: 10vw;
    margin-bottom: 10vw;
}

.footer_section {
    margin-left: 10vw;
    margin-right: 10vw;
}

.footer_section h2 {
    font-weight: 200;

}



.footer_section p {
    font-family: freight-neo-pro, sans-serif;
    text-align: center;
}

.logo_footer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;


}






/**** MOBIL NEWS/KONTAKT/FAQ SEKTION START ****/

/***** MOBIL KONTAKT START ****/

.splash_kontakt {
    background-size: cover;
    background-image: url(img/kontakt1.jpg);
    object-fit: fill;
    background-repeat: no-repeat;
    z-index: 2;
    background-position: 0% 70%;
    height: 50vh;

}


#kontakt_sections {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 3vw;
    margin-bottom: 5vw;

}

#kontakt_sections .col:nth-child(2),
#kontakt_sections .col:nth-child(8),
#kontakt_sections .col:nth-child(9) {
    grid-column: 1/-1;
}

#kontakt_sections .col:nth-child(3) {
    display: none;
}





#kontakt_sections .col:nth-child(8) h2 {
    margin-top: 5vw;
}










/***** MOBIL KONTAKT SLUT ****/
/****** MOBIL SLUT ******/

/***** WEB START *******/
@media only screen and (min-width : 768px) {
    /***** WEB GENERALT START ****/





    .forside_sections article:nth-child(1) .text1 {
        margin-top: 0;
    }

    #dest_detaljeview_carousel {
        padding: 0vw 15vw 0 15vw;
    }

    #foreninger_article:nth-child(4) {}

    /*
    .footer_section_forening img {
        margin-top: 0;
    }
*/





    p {
        font-size: 1rem;
    }

    .koncept_sections article:nth-child(1) p,
    .destinationer_sections article:nth-child(1) p,
    #destinationer_detaljeview .tekst1,
    #foreninger_sections article p,
    #boliger_sections p {
        columns: 2;

    }


    .logo_footer {

        width: 20%;


    }


    .velkommen {
        padding-top: 8vw;

        font-size: 4rem;

    }

    /*Links styling start */
    .tilbagetekst,
    #kontakt_sections a,
    #boliger_sections a,
    .stiftede_foreninger_sections a,
    #foreninger_sections a,
    .koncept_sections a {

        font-size: 1.3rem;

    }

    /*Links styling slut */
