/***** GENERALT START *****/

img {
    width: 100%;


}

body {
    margin: 0;
}


p {
    font-family: neue-haas-grotesk-text, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: .8rem;
    letter-spacing: 1.2px;
    color: #2a2a2a;
    /*    text-align: justify;*/
    padding: 15vw;
}

h1 {
    color: #2a2a2a;
    font-size: 2rem;
    font-family: freight-neo-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    /*    padding: 20vw 0 10vw 0;*/
    margin: 0;
}




h2,
h3,
h4 {
    color: #2a2a2a;
    font-size: 1.8rem;
    font-family: freight-neo-pro, sans-serif;
    font-weight: 100;
    font-style: normal;
    text-align: center;
    padding: 0vw 10vw 0vw 10vw;
    margin: 0;
}


/********* KARUSSELLER START ************/


.carousel {
    width: 100%;
    height: 100%;

    margin: 0;


}

.container {
    display: flex;
    overflow: scroll;
    scroll-snap-type: x mandatory;
}

.container section {
    scroll-snap-align: start;
    min-width: 100%;
    padding: 0;
}

.carousel_inner {

    display: flex;


}



.bwd,
.fwd {
    display: flex;
    cursor: pointer;
    align-items: center;

}

.bwd p,
.fwd p {
    position: absolute;
    z-index: 10;
    color: white;
    font-size: 2rem;

}

.fwd p {
    margin-left: -17px;
}

/********* KARUSSELLER SLUT ***************/

/*--------------SPLASHBILLEDER---------------*/

.splash {
    margin-top: 32vw;
    background-size: cover;
    background-image: url(img/splash_forside1.jpg);


    background-repeat: no-repeat;
    z-index: 2;
    background-position: 50% 40%;
    height: 80vh;

}

.splash_koncept {
    background-size: cover;
    background-image: url(img/splash_forside3.jpg);
    object-fit: fill;
    background-repeat: no-repeat;
    z-index: 2;
    background-position: 10% 30%;
    height: 50vh;
    margin-bottom: 100px;
}

.splash_foreninger {
    background-size: cover;
    background-image: url(img/splash_foreninger.jpg);
    object-fit: fill;
    background-repeat: no-repeat;
    z-index: 2;
    background-position: 10% 45%;
    height: 50vh;
}

.splash_stiftedeforeninger {
    background-size: cover;
    background-image: url(img/splash_stiftedeforeninger.jpg);
    object-fit: fill;
    background-repeat: no-repeat;
    z-index: 2;
    background-position: 10% 45%;
    height: 50vh;
    margin-bottom: 100px;
}

.splash_boliger {
    background-size: cover;
    background-image: url(img/splash_boliger.jpg);
    object-fit: fill;
    background-repeat: no-repeat;
    z-index: 2;
    background-position: 10% 29%;
    height: 50vh;
}

.splash_fraskrottilslot {
    background-size: cover;
    background-image: url(img/splash_skrottilslot.jpg);
    object-fit: fill;
    background-repeat: no-repeat;
    z-index: 2;
    background-position: 10% 80%;
    height: 50vh;
}

.splash_destinationer {
    background-size: cover;
    background-image: url(img/splash_destinationer.jpg);
    object-fit: fill;
    background-repeat: no-repeat;
    z-index: 2;
    background-position: 10% 40%;
    height: 50vh;
    margin-bottom: 100px;
}

.splash_mallorca {
    background-size: cover;
    background-image: url(img/splash_mallorca.jpg);
    object-fit: fill;
    background-repeat: no-repeat;
    z-index: 2;
    background-position: 10% 78%;
    height: 50vh;
}

.velkommen {

    color: white;




    text-align: center;
    padding-top: 5vw;



}

.forside_section_4 h1 {
    padding-bottom: 0;
}


iframe {
    height: 50vw;
    width: 60vw;
    position: absolute;
    left: 20vw;
}

/**** GENERALT SLUT ****/



/***** MOBIL FORSIDE START *****/

.forside_section_1 h1:nth-child(1),
.section_1 h1:nth-child(1),
.foreninger h2,
#sektion1 h1:nth-child(1),
.destinationer_section_1 h1:nth-child(1),
.toscana_section_1 h1:nth-child(1),
.mallorca_section_1 h1:nth-child(1) {
    margin-top: 10vw;
}


.info {
    padding: 10px;
    position: absolute;
    display: grid;
    align-self: center;
    justify-self: center;

    max-width: 350px;

    top: 4vw;
}

.forside_section_2,
.destinationer_section_2 {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 40px;

}



/*
article {
    position: relative;
    text-align: center;
    margin: 0 auto;
}
*/


/*
article p {

    position: absolute;
    font-size: 1.5rem;
    max-width: 350px;

}
*/

/***** MOBIL FORSIDE SLUT *****/

/***** MOBIL 21-5 FORENINGER START *****/

.sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;

}

.col1 {
    flex-grow: 3;
    flex-basis: 250px;
}

.col2 {
    flex-grow: 1;
    flex-basis: 250px;
}







/***** MOBIL 21-5 FORENINGER SLUT *****/
/***** MOBIL STIFTEDE FORENINGER START ****/
.foreninger_sec2 .sectionwrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-flow: dense;
    /*    grid-gap: 40px;*/
}



.foreninger_sec2 p {
    text-align: start;
    max-width: 350px;

}


/***** MOBIL STIFTEDE FORENINGER SLUT ****/



/***** WEB START *****/


@media only screen and (min-width : 1224px) {

    /***** WEB GENERELT START *****/
    .forside_section_1 h1:nth-child(1),
    .section_1 h1:nth-child(1),
    .foreninger h2,
    #sektion1 h1:nth-child(1),
    .destinationer_section_1 h1:nth-child(1),
    .toscana_section_1 h1:nth-child(1),
    .mallorca_section_1 h1:nth-child(1) {
        margin-top: 0vw;
    }


    .splash {
        margin-top: 0;
    }

    p {

        padding: 0;
        font-size: 1rem;

    }

    h1 {

        font-size: 3rem;

        padding: 75px 0 75px 0;
        margin: 0;
    }

    #splash h1 {
        font-size: 5rem;
        padding-top: 200px;
    }

    h2 {
        padding: 5vw 10vw 3vw 10vw;
    }



    /*
        .velkommen {
            color: white;
            font-size: 5rem;
            font-family: freight-neo-pro, sans-serif;
            font-weight: 400;
            font-style: normal;
            text-align: center;
            margin: 0;
            position: absolute;
            top: 5vw;

        }
*/


    h2,
    h3 {

        font-size: 2rem;


        padding: 75px 0 75px 0;
        margin: 0;
    }

    h4 {

        font-size: 3rem;

        padding: 200px 0 75px 0;
        margin: 0;
    }




    /*

    .forside_section_1,
    .forside_section_3,
    .forside_section_2 {
        padding: 100px 300px 100px 300px;
    }
*/
    section {
        padding: 0 20vw 0 20vw;
        transition: background 1s;
    }

    .forside_section_1 img {
        padding: 0px 0 75px 0;
    }

    .forside_section_1 p,
    .forside_section_3 p,
    .destinationer_section_1 p,
    .section_1 p,
    .section_1 p,
    .foreninger p {
        columns: 2;
        column-gap: 75px;
        margin: 0 auto;

    }





    article {
        position: relative;
        text-align: center;
        margin: 0 auto;
    }


    article p {

        /*
        position: absolute;
        font-size: 1.5rem;
        max-width: 350px;
*/

    }


    .info {
        padding: 10px;
        position: absolute;
        display: grid;
        align-self: center;
        justify-self: center;

        max-width: 350px;

        top: 4vw;
    }

    .info p {
        text-align: center;
    }

    article h4 {
        position: absolute;
        top: 0;
    }

    article img {
        position: relative;
    }





    .wpforms-field-label {
        display: none;
    }

    #wpforms-582-field-hp {
        display: none;
    }

    div.wpforms-container-full .wpforms-form input[type=date],
    div.wpforms-container-full .wpforms-form input[type=datetime],
    div.wpforms-container-full .wpforms-form input[type=datetime-local],
    div.wpforms-container-full .wpforms-form input[type=email],
    div.wpforms-container-full .wpforms-form input[type=month],
    div.wpforms-container-full .wpforms-form input[type=number],
    div.wpforms-container-full .wpforms-form input[type=password],
    div.wpforms-container-full .wpforms-form input[type=tel],
    div.wpforms-container-full .wpforms-form input[type=text],
    div.wpforms-container-full .wpforms-form input[type=time],
    div.wpforms-container-full .wpforms-form input[type=url],
    div.wpforms-container-full .wpforms-form input[type=week],
    div.wpforms-container-full .wpforms-form select,
    div.wpforms-container-full .wpforms-form textarea {
        background-color: #fff;
        box-sizing: border-box;
        border-radius: 2px;
        color: #333;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        display: block;
        float: none;
        font-size: 16px;
        border: 1px solid #ccc;
        padding: 6px 10px;
        height: 38px;
        width: 50%;
        line-height: 1.3;
    }

    figure {}

    iframe {
        height: 50vw;
        width: 60vw;
        position: absolute;
        left: 20vw;
    }

    .wp-block-embed__wrapper {
        margin: 0 auto;
        text-align: center;
    }

    /*
    .color2 {
        background-color: #C95D43;



    }
*/


}

/***** WEB GENERELT SLUT *****/

/***** WEB FORSIDE START *****/
.forside_section_2 h4 {
    font-size: 2rem;
    padding: 5vw 2vw 0 2vw;
    color: white;
    text-shadow: 2px 2px 8px #000000;

}

.forside_section_2 img {
    filter: blur(1px);
}

/*
h2 {
    padding: 10vw 0 5vw 0;
}
*/







/***** WEB FORSIDE SLUT *****/
/****** WEB FORENINGER START *****/
.foreninger {
    padding-top: 4vw;
}

.foreninger .text {
    padding-top: 6vw;
    padding-right: 0;
}

.foreninger .grafik {

    width: 66%;
}



.foreninger_sec2 article {
    /*
    background-color: #c63f3f;
    color: #D0AD87;
    border: 5px solid #ffe9b7;
    cursor: pointer;
*/
}

.foreninger_sec2 article h2 {
    padding: 0;
}

/****** WEB FORENINGER SLUT *****/
/***** WEB DESTINATIONER START ****/
.destinationer_section_2 h2 {
    /*
    padding-top: 2vw;
    padding-bottom: 1vw;
*/
}

.destinationer_section_2 {
    padding-top: 0;
}

/***** WEB DESTINATIONER SLUT ****/


/*WEB-NAVIGATION START*/

#menuToggle a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
    font-size: 1.5rem;
    font-family: neue-haas-grotesk-text, sans-serif;
}

#menuToggle .undermenu a {}

#menuToggle .undermenu .under-undermenu a {
    /*        color: #eaeaea;*/
}

#menuToggle a:hover {
    color: black;
}

#menuToggle .koncept:hover,
#menuToggle .om_os:hover,
#menuToggle .foreninger:hover,
#menuToggle .boliger:hover,
#menuToggle .formalier:hover,
#menuToggle .til_salg:hover {
    cursor: default;
    color: #535353;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */
    -webkit-touch-callout: none;
}

.koncept,
.om_os,
.foreninger,
.boliger,
.formalier,
.til_salg {
    cursor: default;
}



#koncept a:hover {
    color: aqua;
}



/*
 * Just a quick hamburger
 */


#menuToggle .burger:first-child {
    transform-origin: 0% 0%;

}

#menuToggle .burger:nth-last-child(2) {
    transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ .burger {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ .burger:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ .burger:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
.menu {
    position: fixed;
    width: 100vw;
    /*        height: 80vh;*/
    margin: 0;
    top: 0;
    left: 0;
    padding: 100px 0 100px 50px;

    background: #C95D43;


    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

.undermenu {
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 314px;
    top: 100px;


}

.under-undermenu {
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 414px;
    top: 0;
}



.undermenu a {
    font-size: 1.5rem;

}

.under-undermenu a {

    font-size: 1.5rem;
}





.menu li:hover > ul {
    opacity: 1;
    visibility: visible;
}

.undermenu li li:hover > ul {
    /*        display: none;*/
}

nav {
    position: fixed;
    right: 0;

}

.menu a {

    padding: 0 90px 0 0;
}

.undermenu a,
under-undermenu a {}

.menu ul {

    list-style: none;
}



.menu li {
    /*        background-color: #fdfdfd;*/
    max-width: 250px;
    /*        border-bottom: 1px solid black;*/
    list-style: none;
    padding: 20px 0px 20px 10px;

}

.menu li li {

    /*        background-color: blue;*/
    max-width: 400px;

}

.menu li li li {
    /*        background-color: yellow;*/
    width: 400px;

}







/*
    .input_position {
    position: absolute;
    right: 0;
    }
*/


/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
    transform: none;
}


.arrow:after {
    content: '\2038';
    float: right;
    transform: rotate(90deg);
}




.wrapper {
    display: flex;
}

#menuToggle {
    display: block;
    position: relative;


    z-index: 1;
    padding-top: 30px;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle .burger {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    margin-left: 1vw;
    background: #C95D43;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
    right: 15px;



}

.logo {
    position: fixed;
    width: 100px;
    height: 100px;
    left: 0;
    padding: 0;
    margin: 0;
    top: -30px;


}

/*WEB-NAVIGATION SLUT*/
/***** WEB STIFTEDE FORENINGER START *****/



.foreninger_sec2 h2 {
    margin-top: 5vw;
    margin-bottom: 5vw;
}


/***** WEB STIFTEDE FORENINGER SLUT *****/


/***** WEB SLUT *****/
