/***** GENERALT START *****/

img {
    width: 100%;


}

body {
    margin: 0;
}


p {
    font-family: neue-haas-grotesk-text, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: .8rem;
    letter-spacing: 1.2px;
    color: #2a2a2a;
    /*    text-align: justify;*/
    padding: 15vw;
}

h1 {
    color: #2a2a2a;
    font-size: 2rem;
    font-family: freight-neo-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    /*    padding: 20vw 0 10vw 0;*/
    margin: 0;
}




h2,
h3,
h4 {
    color: #2a2a2a;
    font-size: 1.8rem;
    font-family: freight-neo-pro, sans-serif;
    font-weight: 100;
    font-style: normal;
    text-align: center;
    padding: 0vw 10vw 0vw 10vw;
    margin: 0;
}


.splash {
    margin-top: 32vw;
    background-size: cover;
    background-image: url(img/splash_forside1.jpg);
<<<<<<< HEAD
    width: 100vw;
    height: 50vw;
    background-repeat: no-repeat;
    z-index: 2;
=======
    background-position: 50% 40%;
    height: 50vh;




>>>>>>> origin/master
}

.velkommen {

    color: white;




    text-align: center;
    padding-top: 5vw;



}



iframe {
    height: 50vw;
    width: 60vw;
    position: absolute;
    left: 20vw;
}

/**** GENERALT SLUT ****/



/***** MOBIL FORSIDE START *****/

.forside_section_1 h1:nth-child(1),
.section_1 h1:nth-child(1),
.foreninger h2,
#sektion1 h1:nth-child(1),
.destinationer_section_1 h1:nth-child(1),
.toscana_section_1 h1:nth-child(1),
.mallorca_section_1 h1:nth-child(1) {
    margin-top: 10vw;
}


.info {
    padding: 10px;
    position: absolute;
    display: grid;
    align-self: center;
    justify-self: center;

    max-width: 350px;

    top: 4vw;
}

.forside_section_2 {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 40px;
    max-width: 1200px;
}

/*
article {
    position: relative;
    text-align: center;
    margin: 0 auto;
}
*/


article p {

    position: absolute;
    font-size: 1.5rem;
    max-width: 350px;

}

/***** MOBIL FORSIDE SLUT *****/

/***** MOBIL 21-5 FORENINGER START *****/

.sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}

.col {
    flex-grow: 1;
    flex-basis: 250px;
    padding: 0 4vw 0 0;




}







/***** MOBIL 21-5 FORENINGER SLUT *****/



/***** WEB START *****/


@media only screen and (min-width : 1224px) {

    /***** WEB GENERELT START *****/
    .forside_section_1 h1:nth-child(1),
    .section_1 h1:nth-child(1),
    .foreninger h2,
    #sektion1 h1:nth-child(1),
    .destinationer_section_1 h1:nth-child(1),
    .toscana_section_1 h1:nth-child(1),
    .mallorca_section_1 h1:nth-child(1) {
        margin-top: 0vw;
    }


    .splash {
        margin-top: 0;
    }

    p {

        padding: 0;
        font-size: 1rem;

    }

    h1 {

        font-size: 5rem;

        padding: 75px 0 75px 0;
        margin: 0;
    }

    h2 {
        padding: 5vw 10vw 3vw 10vw;
    }



    /*
        .velkommen {
            color: white;
            font-size: 5rem;
            font-family: freight-neo-pro, sans-serif;
            font-weight: 400;
            font-style: normal;
            text-align: center;
            margin: 0;
            position: absolute;
            top: 5vw;

        }
*/

    h3 {

        font-size: 3rem;


        padding: 200px 0 75px 0;
        margin: 0;
    }

    h4 {

        font-size: 3rem;

        padding: 200px 0 75px 0;
        margin: 0;
    }




    /*

    .forside_section_1,
    .forside_section_3,
    .forside_section_2 {
        padding: 100px 300px 100px 300px;
    }
*/
    section {
        padding: 8vw 20vw 8vw 20vw;
    }

    .forside_section_1 img {
        padding: 0px 0 75px 0;
    }

    .forside_section_1 p,
    .forside_section_3 p,
    .destinationer_section_1 p,
    .section_1 p {
        columns: 2;
        column-gap: 75px;
        margin: 0 auto;

    }





    article {
        position: relative;
        text-align: center;
        margin: 0 auto;
    }


    article p {

        position: absolute;
        font-size: 1.5rem;
        max-width: 350px;

    }


    .info {
        padding: 10px;
        position: absolute;
        display: grid;
        align-self: center;
        justify-self: center;

        max-width: 350px;

        top: 4vw;
    }

    .info p {
        text-align: center;
    }

    article h4 {
        position: absolute;
        top: 0;
    }

    article img {
        position: relative;
    }





    .wpforms-field-label {
        display: none;
    }

    #wpforms-582-field-hp {
        display: none;
    }

    div.wpforms-container-full .wpforms-form input[type=date],
    div.wpforms-container-full .wpforms-form input[type=datetime],
    div.wpforms-container-full .wpforms-form input[type=datetime-local],
    div.wpforms-container-full .wpforms-form input[type=email],
    div.wpforms-container-full .wpforms-form input[type=month],
    div.wpforms-container-full .wpforms-form input[type=number],
    div.wpforms-container-full .wpforms-form input[type=password],
    div.wpforms-container-full .wpforms-form input[type=tel],
    div.wpforms-container-full .wpforms-form input[type=text],
    div.wpforms-container-full .wpforms-form input[type=time],
    div.wpforms-container-full .wpforms-form input[type=url],
    div.wpforms-container-full .wpforms-form input[type=week],
    div.wpforms-container-full .wpforms-form select,
    div.wpforms-container-full .wpforms-form textarea {
        background-color: #fff;
        box-sizing: border-box;
        border-radius: 2px;
        color: #333;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        display: block;
        float: none;
        font-size: 16px;
        border: 1px solid #ccc;
        padding: 6px 10px;
        height: 38px;
        width: 50%;
        line-height: 1.3;
    }

    figure {}

    iframe {
        height: 50vw;
        width: 60vw;
        position: absolute;
        left: 20vw;
    }

    .wp-block-embed__wrapper {
        margin: 0 auto;
        text-align: center;
    }

    /*
    .color2 {
        background-color: #C95D43;
    }
*/


}

/***** WEB GENERELT SLUT *****/

/***** WEB FORSIDE START *****/
.forside_section_2 h4 {
    font-size: 2rem;
    padding: 5vw 2vw 0 2vw;
    color: white;
    text-shadow: 2px 2px 8px #000000;

}

.forside_section_2 img {
    filter: blur(1px);
}

/***** WEB FORSIDE SLUT *****/


/***** WEB SLUT *****/
